{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="container page">
    <div class="card center-card">
        <h1>Connexion</h1>

        {% if error %}
            <div class="alert-error">{{ error }}</div>
        {% endif %}

        <form method="post" action="/login">
            <label>Nom d’utilisateur</label>
            <input type="text" name="username" required>

            <label>Mot de passe</label>
            <input type="password" name="password" required>

            <button type="submit">Se connecter</button>
        </form>

        <p class="muted" style="margin-top:16px;">
            Pas encore de compte ? <a href="/register">Créer un compte</a>
        </p>
    </div>
</div>
{% endblock %}